*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: rgba(9,0,77,0.65);
}

::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: #f5168d;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)) ,
    url('../image/1.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    padding: 10px 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.logo{
    width: 75px;
    cursor: pointer;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: transparent;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500px;
    cursor: pointer;
}

.btn i{
    margin-right: 10px;
}

.content{
    margin-top: 40px;
    color: #fff;
    max-width: 620px;

}

.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

.content form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
}

.content form .btn{
    font-size: 15px;
    margin: 10px 20px;
}

.content form .btn i{
    width: 20px;
    margin-right: 10px;
}